<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="show_sql">true</property>
  		<property name="hibernate.hbm2ddl.auto">update</property>
        <!--<mapping class="ogloszenia.model.Test" />-->
        <!--<mapping class="ogloszenia.model.Toys" />-->
        <!--<mapping class="ogloszenia.model.Atest" />-->
        <!--<mapping class="ogloszenia.model.Order" />-->
        <!--<mapping class="ogloszenia.model.OrderPosition" />-->


        <mapping class="carRent.account.User" />
        <mapping class="carRent.rent.Car" />
        <mapping class="carRent.rent.Customer" />
        <mapping class="carRent.rent.Rent" />
        <mapping class="carRent.rent.Option" />


    </session-factory>
</hibernate-configuration>